body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.524228.xyz/?random=1') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="text"] {
    margin-bottom: 10px;
}

.form-group select {
    padding: 8px;
}

.modify-btn,.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #4cae4c;
}

.github-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.github-btn:hover {
    background-color: #555;
}

.update-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn-btn:hover {
    background-color: #555;
}

.hint {
    font-size: 12px;
    color: #999;
    /*text-align: center;*/
    margin-top: 10px;
}