<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPM智能卡证书上传</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="form-container">
        <form action="http://127.0.0.1:1080/put/cert"
              method="POST"
              enctype="multipart/form-data">
            <div>
                <div class="form-group">
                    <div>传输密钥：</div>
                    <input type="text" name="pubkey" required>
                </div>
                <div class="form-group">
                    <div>证书密码：</div>
                    <input type="text" name="pfxkey" required>
                </div>
                <div class="form-group">
                    <div>证书文件：</div>
                    <input type="file" name="vaults" required>
                </div>
                <div class="form-group">
                    <button type="submit">确认上传</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
</script>
</body>
</html>
